@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.datePicker {
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin: 30px auto;
  justify-content: space-around;
}
